numpy
pandas
numexpr
matplotlib
scipy
seaborn
scikit-learn
sympy
cython
patsy
statsmodels
dill
xlrd
psycopg2
boto
boto3
dask
blaze
numba
tables
nltk
bokeh
requests
gitpython
h5py
nose
pandasql
plotly
pymongo
pymysql
pytz
six
sqlalchemy
toolz
scikit-image
pillow
beautifulsoup4